
.card {
  color: #F18F01;
  background-color: lightgrey;
  width: 100%;
  height: 150px;
  margin: 0 20px 20px 0;
  padding: 10px;
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid black;
}

.cardTitle {
  text-align: center;
}
